/* .App {
  text-align:center;

} */
body {
  font-family: 'Open Sans', sans-serif !important;
}


.App{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
input::-ms-clear, input::-ms-reveal {
  display: none;
}

/* Sidebar (display-menu) styles */
.display-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px; 
  text-align: left;
  position: fixed;
  color: white;
  background-color: #09c;
  top: 0; 
  bottom: 0; 
}

.container1.expanded .display-menu {
  width: 250px; 
}

.container1:not(.expanded) .display-menu {
  width: 70px; 
 
}
.container1:not(.expanded) .menu{
 height: 42px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  margin-left:-30px; /* Default margin */
  transition: margin-left 0.3s ease; /* Smooth transition for margin change */
}

.show-icons-only .heading {
  margin-left: 250px; /* Margin when icons are shown */
}


/* Menu item styles */
.menu {
  display: block;
  color: white; 
  padding: 9px 25px;
  font-size: 14px;
  text-decoration: none;
}

.menu:hover {
  background-color: #504b4b44;
  transform: scale(1.01);
}

.active {
  background-color: #504b4b75;
  color: white;
  transition-duration: 1.1s;
}

.icon {
  color: white;
  font-size: 20px;
  vertical-align: middle;
}

.imageicon{
  width:75%;
  margin-left: 15px;
}

.imagehome {
  display: flex;
  align-items: center; 
  text-align: center;
}
.toggle-button {
 margin-top: -10px;
  cursor: pointer;
  margin-left: 23px;
}
.toggle-button p {
  margin: 0;
}

/* Dropdown styles */
.dropdown-box {
  position: absolute;
  top: 60px;
  right: 0;
  margin-right: 20px;
  margin-top: 1px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  height: auto;
  padding: 3px;
}

.dropdiv {
  display: block;
  /* padding: 8px 15px; */
  text-decoration: none; /* Remove underline from NavLink */
  color: black; /* Set text color to black */
}

.dropdiv:hover {
  background-color: #f2f2f2; /* Hover background color */
}


.main-content {
  position: relative;
  margin-left: 250px; /* Adjusted margin-left to match sidebar width */
  padding: 10px; /* Padding all around */
  margin-top: 60px;
  background-color: #f9f9f9; /* Light background color */
  min-height: calc(100vh - 60px); /* Adjusted to fill remaining viewport height after header */
}
/* @media (max-height: 850px) {
  .main-content {
     height:700px;
     background-color:#f9f9f9;
     overflow-y: hidden;
  }
  .table-content-env-list{
    width:60%;
  }
}
@media (max-height: 795px) {
  .main-content {
     height:680px;
     background-color:#f9f9f9;
     overflow-y: hidden;
  }
}
@media (max-height: 740px) {
  .main-content {
     height:650px;
     background-color:#f9f9f9;
     overflow-y: hidden;
  }
  .table-content-env-list{
    width:60%;
  }
} */
.icons-only {
  margin-left: 70px; /* Adjusted for collapsed sidebar width */
}
.display-text {
  background-color: var(--white);
 
  position: fixed;
  overflow-y: hidden;
  color: rgb(128, 128, 128);

  min-width: 100%;
  min-height: 10px;
  height: 60px;
  margin-top: -60px !important;
  margin-left: 250px;
  margin-bottom: 0 !important;

  vertical-align: -webkit-baseline-middle;
  transition: margin-left 0.0001s;

  z-index: 1;
}
.container1.expanded .display-text {

    margin-left: 250px;

}

.container1:not(.expanded) .display-text {

    margin-left: 70px;
}

.headertext{
  display: block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase; 
 padding-left: 13px;
 margin-top: 6px;
  text-align: center;
  line-height: 1; 
}


/* address correction */




