.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content-preview {
  background-color: white;
  width: 100%;
  max-width: 1000px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.modal-header {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.modal-body-preview {
  flex: 1;
  padding: 0;
  display: flex;
}

.iframe-preview {
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Preview envelope css */
.preview_trigger{
  border-radius: 5px;
  border: 0px;
  font-size: 13px;
  padding: 7px 10px;
  color: var(--text3);
  margin-right: 15px;
}

.preview_trigger:hover{
  transform: scale(1.02);
  color: #09c;
}